.color {
    height: 50px;
    width: 50px;
    display: inline-block;
    border: black solid 1px;
}

.pixel {
    background-color: white;
    height: 40px;
    width: 40px;
    border: black solid 1px;
    display: inline-block;
    float: left;
}


#pixel-board {
    border: solid;
    /* width: 210px;
    height: 210px; */
}

.selected {

}